<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Patient</title>
    <link rel="stylesheet" href="../../static/css/style.css" data-th-href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css"
          data-th-href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Balance Web Development</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Services<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Consulting</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
<main class="container">
    <div>
        <h1>Patient Records</h1>
    </div>
    <div id="wrapper">

        <div id="patientDetails">
            <dl class="dl-horizontal">
                <dt>Patient ID</dt>
                <dd th:text="${patient.patientId}">1020344</dd>
                <dt>Name</dt>
                <dd th:text="${patient.firstName} + ' ' + ${patient.middleName} + ' ' + ${patient.lastName}">John T.
                    Sawyer
                </dd>
                <dt>Address:</dt>
                <dd>
                    <address>
                        <span th:text="${patient.addressLine1}">AddressLine1</span><br/>
                        <th:block th:if="${patient.addressLine2 != null}"><span th:text="${patient.addressLine2}">AddressLine2</span><br/>
                        </th:block>
                        <span th:text="${patient.city} + ', ' + ${patient.state} + ', ' + ${patient.zipCode}">City, State, ZipCode</span>
                    </address>
                </dd>
                <dt>Birthday</dt>
                <dd th:text="${#temporals.format(patient.birthDate, 'MM/dd/yyyy')}">5/32/1989</dd>
                <dt>Gender</dt>
                <dd th:text="${patient.gender}">M</dd>
                <dt>Height</dt>
                <dd th:text="${patient.height}">77</dd>
                <dt>Weight</dt>
                <dd th:text="${patient.weight}">150</dd>
                <dt>Phone Number:</dt>
                <dd th:text="${patient.phone}">708-123-2345</dd>
                <dt>Next of Kin</dt>
                <dd th:text="${patient.nextOfKin}">John Singelton</dd>
                <dt>Admit Status</dt>
                <dd th:text="${patient.admitted}? 'Admitted' : 'Not Admitted'">Admitted</dd>
            </dl>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>