<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Patient</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css"
          data-th-href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
<main>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Balance Web Development</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Consulting</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <h1>Patient Record</h1>
        <p>
            <b>Patient ID:</b><span th:text="${patient.patientId}">1020344</span>
        </p>
        <p>
            <b>Name:</b><span th:text="${patient.firstName} + ' ' + ${patient.middleName} + ' ' + ${patient.lastName}">
            John T. Sawyer</span>
        </p>
        <p>
            <b>Address:</b> address
        </p>
        <p>
            <b>Birthdate:</b> <span th:text="${#temporals.format(patient.birthDate, 'MM/dd/yyyy')}">5/32/1989</span>
        </p>
        <p>
            <b>Gender:</b>
            <spaan th:text="${patient.gender}">M</spaan>
        </p>
        <p>
            <b>Height:</b> <span th:text="${patient.height}">77</span>
        </p>
        <p>
            <b>Weight:</b> <span th:text="${patient.weight}">150</span>
        </p>
        <p>
            <b>Phone Number:</b><span th:text="${patient.phone}">708-123-2345</span>
        </p>
        <p>
            <b>Next of Kin:</b><span th:text="${patient.nextOfKin}"> Adam Baidy</span>
        </p>
        <p>
            <b>Admit Status:</b> <span th:text="${patient.admitted}">False</span>
        </p>
    </div>
</main>
<footer>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>